<link rel="stylesheet" href="/assets/css/chatbox.css">

<% if (locals.user) { %>

    <div class="chat-box" id="chatBoxID" email="<%= locals.user.email %>">

        <section class="chat-details">

            <span class="dp">
                <img src="" id="chat-user-dp">
            </span>

            <span class="chat-user-name" id="chatUserName"></span>

            <span class="close-chat" onclick="closeChat(this)"> &times; </span>

        </section>

        <section class="chat-screen" id="chatBoxId01">
            
        </section>

        <section class="chat-input">

            <form action="" method="POST" autocomplete="off" autocapitalize="on">

                <input type="text" name="message" id="message-content">
                <button type="submit" id="send-btn"><i class="fas fa-paper-plane"></i></button>

            </form>
            
        </section>

    </div>

<% } %>