<!-- <link rel="stylesheet" href="../assets/css/header.css"> -->

<header id="header">

    <div id="logo">
        <a href="/user/profile">
            <img src="/assets/images/logo2.png" alt="logo"> <span>Codemate</span>
        </a>
    </div>

    <% if (locals.user) { %>

        <div class="right-section">

            <li id="logout">
                <a href="/user/sign-out">Sign Out</a>
            </li>
            
        </div>

    <% } else { %>

        <div class="right-section">

            <li>
                <a href="/user/sign-in">Sign In</a>
            </li>
    
            <li>
                <a href="/user/sign-up">Sign Up</a>
            </li>

        </div>
        
    <% } %> 
</header>