<link rel="stylesheet" href="/assets/css/app_home.css">

<!-- <img src="/assets/images/firebase.png" alt="bg" id="app_home_bg"> -->

<section id="starter-display">

    <div id="left-display">

        <div id="left-display-wrapper">

            <span id="heading">
                Blog Berry <small id="desc"> Your own blog space </small>
            </span>
    
            <ul id="features-list">
                <li>Create your own blogs</li>
                <li>Share it to the world</li>
                <li>Simple and Intuitive</li>
            </ul>
    
    
            <a id="discover-blogs" href="/discover">DISCOVER</a>

        </div>

    </div>

    <div id="right-display">

    </div>


</section>