<!-- create a form for POSTS -->

<link rel="stylesheet" href="/assets/css/home.css">

<main>

    <section id="left-home-create-post">

        <span id="create-heading"> Create Your Blog </span>

        <div id="new-post">

            <div id="upper">

                <section id="profile-logo" style="position: relative; border-radius: 50%;">
                    <img src="<%= locals.user.avatar %>" alt="" height="100%" width="100%" style="border-radius: 50%;">
                </section>

                <form action="/posts/create-post" method="POST" id="new-post-form" enctype="multipart/form-data">
                    <textarea name="content" id="post-content" placeholder="Write Something..." onkeypress="postButtonStatus();"></textarea>

                    <section id="more-utilities">

                        <label for="post-attatchment-file" id="post-attatchment-file-label">
                            <img src="/assets/images/icon-photo.png" alt="">
                            <input type="file" name="media" id="post-attatchment-file">
                        </label>
    
                        <label for="" id="emoji-attatchment-container">
                            <span id="smiley">😃</span>
                            <emoji-picker display="hidden" id="emoji-picker"></emoji-picker>
                        </label>
    
                        <label for="" id="user-location">
                            <img src="/assets/images/free-location-icon-2955-thumb.png" alt="">
                        </label>

                    </section>

                    <input type="submit" value="Post" id="post-button">
                </form>

                <label for="" id="preview-container">
                    <span id="close-preview">&times;</span>
                    <img src="" alt="" id="post-attatchment-preview">
                </label>

            </div>

        </div>

    </section>
    
    <section id="middle-home-posts">
    
        <div id="heading">
            <span id="heading-text">Home</span>
        </div>

        <!-- <span id="post-heading">Posts</span> -->

        <div id="new-feeds">
    
            <%- include('_postContainer') -%>
            
        </div>
    
    </section>

</main>

<!-- <script src="../assets/js/homeScript.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script src="/assets/js/chat_engine.js"></script>