<link rel="stylesheet" href="/assets/css/user_profile.css">

<div class="profile-cover">

    <div class="profile-cover-photo">
        <img src="" alt="">
    </div>

    <div class="profile-display-photo">
        <img src="/assets/images/Profile-pic.jpg" alt="">
    </div>

    <h1>
        <%= profile_user.name %> 
    </h1>

    <span class="profile-bio"> Your Bio </span>

    <section class="utilities">

    </section>

</div>