#recent-blog-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15%;
    font-size: 32px;
    width: 250px;
    background-color: rgb(34,30,31);
    padding: 0.7%;
    color: white;
    margin-bottom: 1%;
}

#discover-page{

    margin: auto;
    height: auto;
    width: 72vw;
    border: 1px solid rgb(245, 245, 245);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding: 1%;
    // background-color: white;
    background-color: rgb(34,30,31);

    .dis-post{

        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        height: 300px;
        min-width: 380px;
        max-width: 400px;
        width: auto;
        border: 1px solid rgba(34,30,31, 0.3);
        margin: 1%;
        overflow-wrap: break-word;
        padding: 1%;
        overflow: hidden;
        cursor: pointer;
        transition: all .2s ease-in-out;
        background-color: white;

        .username{
            height: 35px;
            width: 100%;
            display: flex;
            color: rgb(255, 0, 64);
            font-size: 19px;
            border-bottom: 1px solid rgb(231, 231, 231);
        }

        .blog-content{
            position: relative;
            display: inline-flex;
            justify-content: center;
            flex-wrap: wrap;
            height: 70%;
            width: 90%;
            margin: auto;


            .blog-content-text{
                width: 100%;
                line-height: 24px;
                max-height: 23%;
                overflow: hidden;
                margin-bottom: 2%;
            }
        }

        .blog-date-wrapper{

            .blog-date{
                color: grey;
                font-size: 15px;
            }
        }
    }

    .dis-post:hover{
        transform: scale(1.05);
    }
}