body{
    overflow: hidden;
}

#header{
    // background-color: #292a2c;
    background-color: rgb(8,39,67);
    height: 60px;
    color: white;
    display: flex;
    justify-content: space-between;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    #logo-section{
        height: 100%;
        width: 150px;

        a{
            color: white;
            text-decoration: none;
            display: flex;
            justify-content: space-between;
            align-items: center;

            #logo{
                height: 50px;
                width: auto;
                margin-top: 2.5%;
                z-index: 2;
            }
    
            span{
                font-size: 20px;
                margin-top: 1.5%;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
        }
        
        a:visited{
            color: white;
        }
    }

    .right-section{
        margin-right: 2%;
        height: 100%;
        width: 200px;
        display: flex;
        justify-content: space-between;

        li{
            list-style: none;
            display: inline-block;
            height: 100%;
            width: auto;
            margin-top: 11%;
    
            a{
                color: rgb(255, 255, 255);
                text-decoration: none;
                font-size: large;
            }

            #user-name{
                margin-left: 65%;
                text-transform: capitalize;
            }
    
            a:hover, a:visited{
                color: white;
                text-decoration: underline;
                transition: all 0.5s ease-in-out;
            }
        }
    }
}