#header{
    background-color: #292a2c;
    height: 60px;
    color: white;
    display: flex;
    justify-content: space-between;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    #logo{
        height: 100%;
        width: 100px;
        margin-top: 0.2%;
        margin-left: 0.6%;
        position: relative;

        a{
            color: white;
            text-decoration: none;

            img{
                height: 50px;
                width: auto;
                margin-top: 0.2em;
            }
    
            span{
                position: absolute;
                top: 23.5%;
                left: 60%;
                font-size: 25px;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
        }
        
        a:visited{
            color: white;
        }
    }

    .right-section{
        margin-right: 2%;

        li{
            list-style: none;
            display: inline-block;
            width: 70px;
            margin-top: 13%;
    
            a{
                color: rgb(255, 255, 255);
                text-decoration: none;
                font-size: large;
            }
    
            a:hover, a:visited{
                color: white;
                text-decoration: underline;
                transition: all 0.5s ease-in-out;
            }
        }
    
        #logout{
            width: 100px;
            margin-top: 19%;
        }
    }
}