#popular_section_container{
    height: 94%;
    width: 32%;
    min-width: 450px;
    border: 1px solid rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 2%;
    border-radius: 12px;

    #popular-pages{
        width: 100%;
        border-bottom: 1px solid rgb(236, 236, 236);
        overflow-y: scroll;

        .popular-section-heading{
            height: 35px;
            font-size: 20px;
            font-weight: 400 !important;
            border-bottom: 1px solid rgb(236, 236, 236);
            display: flex;
            align-items: center;
            margin-bottom: 3%;
            margin-left: 2%;
        }

        #popular-pages-list{
            width: 100%;
            height: 90%;
            overflow-y: scroll;

            .popular-page-item-card{
                position: relative;
                display: flex;
                align-items: center;
                margin-bottom: 1%;
                padding: 2%;
                height: 50px;
                width: 90%;
                box-sizing: border-box;
                box-shadow: -1px 1px 4px 0px rgb(230, 228, 228);

                .card-img{
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    margin-right: 7%;
                }

                a{
                    position: absolute;
                    right: 2;

                    button{
                        height: 30px;
                        width: 60px;
                        // background: rgb(33, 168, 202);
                        background-color: rgb(245, 89, 89);
                        border: none;
                        color: white;
                        font-size: small;
                        font-weight: 500;
                        border-radius: 10px;
                    }
                }
            }
        }
    }

    #popular-blogs{
        height: 50%;
        width: 100%;
        position: relative;

        .popular-section-heading{
            height: 35px;
            font-size: 20px;
            font-weight: 400 !important;
            border-bottom: 1px solid rgb(236, 236, 236);
            display: flex;
            align-items: center;
        }

        #popular-blogs-list{

            height: 90%;
            width: 100%;
            position: relative;
            box-sizing: border-box;
            overflow-y: scroll;

            ul{
                width: 100%;
                display: flex;
                position: relative;
                overflow-y: scroll;
                flex-direction: column-reverse;
                align-items: flex-start;

                .popular-blog-item-card{
                    height: 30px;
                    overflow: hidden;
                    width: 95%;
                    margin-bottom: 2.5%;
                    margin-left: -2%;
                    overflow-wrap: break-word;
                    box-shadow: -1px 1px 4px 0px rgb(230, 228, 228);
                    

                    .blog-link:hover{
                        text-decoration: underline;
                    }
    
                    small{
                        // color: red;
                        font-size: 15px;
                        margin-right: 1%;
                    }

                    span{
                        color: grey;
                        font-size: 14.5px;
                    }
                }
            }
        }
    }
}