@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}

body {
  margin: 5% auto;
  padding: 0;
}

#signup-box{
  position: relative;
  height: 80%;
  width: 40%;
  min-height: 600px;
  min-width: 500px;
  margin: auto;
  background: #FFF;
  border-radius: 2px;
  padding: 2%;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);

  #heading{
    margin-bottom: 5%;
    margin-left: 2.5%;
    color: rgb(13,62,105);
    font-weight: 800;
    font-size: 30px;
  }

  form{
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    .credential{
      width: 45%;
      height: 75px;

      label{
        font-size: medium;
      }

      input{
        height: 40px;
        width: 100%;
        margin-top: 2.5%;
        border: none;
        border-bottom: 1px solid rgb(204, 204, 204);
      }
    }

    #birthday-wrapper{

      margin-top: 5%;
      position: relative;
      height: 42px;

      select{
        height: 100%;
        width: 32.5%;
        background-color: white;
        border: 1px solid rgb(185, 185, 185);
        border-radius: 10px;

        option{
          text-align: center;
        }
      }

    }

    #gender-container{
      border: 1px solid rgb(185, 185, 185);
      border-radius: 10px;
      height: 42px;
      width: 100%;
      margin-top: 5%;

      section{

        height: 100%;
        width: 30%;
        display: inline-flex;
        justify-content: space-around;
        align-items: center;

        input[type=radio] {
          width: 20%;
        }
      }
    }

    button {
      margin-left: 2%;
      margin-bottom: -2.5%;
      height: 42px;
      width: 120px;
      font-size: 15px;
      background: rgb(13,62,105);
      border: none;
      border-radius: 10px;
      color: #FFF;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      text-transform: uppercase;
      transition: 0.1s ease;
      cursor: pointer;
    }
  }
}