body {
  overflow: hidden; }

#header {
  background-color: #082743;
  height: 60px;
  color: white;
  display: flex;
  justify-content: space-between;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
  #header #logo-section {
    height: 100%;
    width: 150px; }
    #header #logo-section a {
      color: white;
      text-decoration: none;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      #header #logo-section a #logo {
        height: 50px;
        width: auto;
        margin-top: 2.5%;
        z-index: 2; }
      #header #logo-section a span {
        font-size: 20px;
        margin-top: 1.5%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
    #header #logo-section a:visited {
      color: white; }
  #header .right-section {
    margin-right: 2%;
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: space-between; }
    #header .right-section li {
      list-style: none;
      display: inline-block;
      height: 100%;
      width: auto;
      margin-top: 11%; }
      #header .right-section li a {
        color: white;
        text-decoration: none;
        font-size: large; }
      #header .right-section li #user-name {
        margin-left: 65%;
        text-transform: capitalize; }
      #header .right-section li a:hover, #header .right-section li a:visited {
        color: white;
        text-decoration: underline;
        transition: all 0.5s ease-in-out; }
