#header {
  background-color: #082743;
  height: 60px;
  color: white;
  display: flex;
  justify-content: space-between;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
  #header #logo {
    height: 100%;
    width: 100px;
    margin-top: 0.2%;
    margin-left: 0.6%;
    position: relative; }
    #header #logo a {
      color: white;
      text-decoration: none; }
      #header #logo a img {
        height: 50px;
        width: auto;
        margin-top: 0.2em; }
      #header #logo a span {
        position: absolute;
        top: 24.2%;
        left: 60%;
        font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
    #header #logo a:visited {
      color: white; }
  #header .right-section {
    margin-right: 2%;
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: space-between; }
    #header .right-section li {
      list-style: none;
      display: inline-block;
      height: 100%;
      width: auto;
      margin-top: 11%; }
      #header .right-section li a {
        color: white;
        text-decoration: none;
        font-size: large; }
      #header .right-section li a:hover, #header .right-section li a:visited {
        color: white;
        text-decoration: underline;
        transition: all 0.5s ease-in-out; }
    #header .right-section #logout {
      width: 100px;
      margin-top: 19%; }
