@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none; }

body {
  margin: 5% auto;
  padding: 0; }

#signup-box {
  position: relative;
  height: 80%;
  width: 40%;
  min-height: 600px;
  min-width: 500px;
  margin: auto;
  background: #FFF;
  border-radius: 2px;
  padding: 2%;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4); }
  #signup-box #heading {
    margin-bottom: 5%;
    margin-left: 2.5%;
    color: #0d3e69;
    font-weight: 800;
    font-size: 30px; }
  #signup-box form {
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; }
    #signup-box form .credential {
      width: 45%;
      height: 75px; }
      #signup-box form .credential label {
        font-size: medium; }
      #signup-box form .credential input {
        height: 40px;
        width: 100%;
        margin-top: 2.5%;
        border: none;
        border-bottom: 1px solid #cccccc; }
    #signup-box form #birthday-wrapper {
      margin-top: 5%;
      position: relative;
      height: 42px; }
      #signup-box form #birthday-wrapper select {
        height: 100%;
        width: 32.5%;
        background-color: white;
        border: 1px solid #b9b9b9;
        border-radius: 10px; }
        #signup-box form #birthday-wrapper select option {
          text-align: center; }
    #signup-box form #gender-container {
      border: 1px solid #b9b9b9;
      border-radius: 10px;
      height: 42px;
      width: 100%;
      margin-top: 5%; }
      #signup-box form #gender-container section {
        height: 100%;
        width: 30%;
        display: inline-flex;
        justify-content: space-around;
        align-items: center; }
        #signup-box form #gender-container section input[type=radio] {
          width: 20%; }
    #signup-box form button {
      margin-left: 2%;
      margin-bottom: -2.5%;
      height: 42px;
      width: 120px;
      font-size: 15px;
      background: #0d3e69;
      border: none;
      border-radius: 10px;
      color: #FFF;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      text-transform: uppercase;
      transition: 0.1s ease;
      cursor: pointer; }
